{% extends "taskboard/base.html" %}

{% block page_title %}{{ _('Edit A Task') }}{% endblock %}
{% block body_id %}edit-profile{% endblock %}
{% block body_classes %}box-content{% endblock %}

{% block main_content %}
  {% set f=form %}
  <section>
    <form class="well form-horizontal" action="{{ request.get_full_path() }}" method="POST" enctype="multipart/form-data">
      {{ csrf() }}
      <div class="control-group">
        <label class="control-label" for="id_summary">{{ f['summary'].label }}</label>
        <div class="controls">
          <input id="id_summary" type="text" name="summary" class="span3" placeholder="{{ _('Quick summary here...')}}"  maxlength="255" />
          <span class="help-inline">{{ f['summary'].help_text }}</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_instructions">{{ f['instructions'].label }}</label>
        <div class="controls">
          <textarea id="id_instructions" type="text" name="instructions" class="span3"></textarea>
          <span class="help-inline">{{ f['instructions'].help_text }}</span>
        </div>
      </div>
      <div class="form-actions">
        <button id="submit" class="btn btn-primary">
          {% if task %}
            {{ _('Update') }}
          {% else %}
            {{ _('Create Task') }}
          {% endif %}
        </button>
        <button class="btn">Cancel</button>
      </div>
    </form>
  </section>
{% endblock %}
