{% extends "taskboard/base.html" %}

{% block main_content %}
  <div class="btn-toolbar">
    <div class="btn-group">
      <a href={{ url('new_task') }} class="btn">New Task</a>
    </div>
  </div>
  {% for task in task_list %}
    <section>
      <h1><a href="{{ task.get_absolute_url() }}"> {{ task.summary }}</a></h1>
      <p>{{ task.instructions }}</p>
      <ul>
        {% for group in task.groups.all() %}
          <li> {{ group }}</li>
        {% endfor %}
      </ul>
    </section>
  {% else %}
    <p>{% trans %}No Tasks{% endtrans %}</p>
  {% endfor %}
{% endblock %}
