{% extends "taskboard/base.html" %}

{% set nav_list_tasks = "active" %}
{% block sub_nav %}
  {{ super() }}
{% endblock %}

{% block main_content %}
  {% for task in task_list %}
    <section>
      <h1><a href="{{ task.get_absolute_url() }}"> {{ task.summary }}</a></h1>
      <p>{{ task.instructions }}</p>
      {% if task.groups.all() %}
        <ul class="tagit ui-widget ui-widget-content ui-corner-all">
          {% for group in task.groups.all() %}
            <li class="tagit-choice ui-widget-content ui-state-default
              ui-corner-all p-category category">
              {% if request.user.get_profile().is_vouched %}
                <a href="{{ url('group', group.id, group.url) }}">
                  {{ group.name }}
                </a>
              {% else %}
                {{ group.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
  {% else %}
    <p>{% trans %}No Tasks{% endtrans %}</p>
  {% endfor %}
{% endblock %}
