{% extends "taskboard/base.html" %}

{% set nav_list_tasks = "active" %}
{% block sub_nav %}
  {{ super() }}
{% endblock %}

{% block main_content %}
  {% for task in task_list %}
    <section>
      <h1><a href="{{ task.get_absolute_url() }}"> {{ task.summary }}</a></h1>
      <p>{{ task.instructions }}</p>
      <ul>
        {% for group in task.groups.all() %}
          <li> {{ group }}</li>
        {% endfor %}
      </ul>
    </section>
  {% else %}
    <p>{% trans %}No Tasks{% endtrans %}</p>
  {% endfor %}
{% endblock %}
