<!doctype html>
<html class="no-js" lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">

    <title>{{ _('Mozillians') }}: {% block page_title %}
      {{ _('Welcome') }}{% endblock %}</title>
    <meta name="description" content="{{ _("Mozilla's contributor phonebook") }}">
    {{ css('api') }}
    {{ js('common') }}
    {{ js('api') }}
  </head>
  <body>
    {% block content %}
 <a id="json_url" href=""></a>
      <pre id="json" style="border: 1px solid #888;padding: 2px; display: block" class="prettyprint">


      </pre>
    {% endblock %}
  </body>
</html>
